<!DOCTYPE html>
<html>
<head>
    <title>AI Fintech Implementation Copilot</title>
</head>
<body>

    <h1>AI Fintech Implementation Copilot</h1>

    <h2>Meeting Notes</h2>

    <form method="POST">


        <textarea
            name="meeting_notes"
            rows="10"
            cols="80"
            placeholder="Paste meeting notes here..."
        ></textarea>

        <br><br>

        <button>
            Analyze
        </button>

    </form>
    
    <h2>Submitted Notes</h2>

    <p>{{ meeting_notes }}</p>

</body>
</html>